@tailwind base;
@tailwind components;
@tailwind utilities;

html, body
{
  font-family: "Power Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

/* Hide scrollbar for modern browsers */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.button_vertical_line::before{
  content: '|';
  top: 50%;
  left: 4%;
  width: 2px;
  height: 100%;
  background-color: #000;
  transform: translateY(-50%);
  z-index: -1;
}
.button_vertical_line::after{
  content: '|';
  top: 50%;
  right: 10%;
  width: 2px;
  height: 100%;
  background-color: #000;
  transform: translateY(-50%);
  z-index: -1;
}
.border-l {
  border-left-width: 1px; /* Adjust border width as needed */
}
/* Add this to your global CSS or Tailwind overrides */
.toggle-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  background-color: #e2e8f0;
  appearance: none;
  transition: all 0.3s ease;
}
.toggle-checkbox:checked {
  background-color: #4a5568;
}

.right_side{
  background-image: url("../../public/backgroundimg.png");
  background-size: 100% 100%;
}

.dropdown-content {
  position: absolute;
  max-height: 200px; /* Adjust based on design */
  overflow-y: auto;
  z-index: 100;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  white-space: nowrap;
}
.react-loading-skeleton {
  --base-color: #ebebeb;
  --highlight-color: #0000ff26 !important;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block;
  background-color: var(--base-color);
  width: 100%;
  border-radius: 0.25rem;
  display: inline-flex
;
  line-height: 1;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
}

